pipeline/BULK-LOAD-NZ-AZ-ON DEMAND.json
{
	"name": "BULK-LOAD-NZ-AZ-ON DEMAND",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP-AZ-TABLE-LIST",
				"description": "Get All Table List from Azure Data Warehouse",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "Select TABLE_NAME from information_schema.tables where \nTABLE_SCHEMA='ADMIN' AND TABLE_TYPE='BASE TABLE' AND TABLE_NAME IN ('BLEND_FCT')\nORDER BY TABLE_NAME",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "GET_AZ_TABLE_LIST",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOREACH-AZ-TABLE-LIST",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP-AZ-TABLE-LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP-AZ-TABLE-LIST').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "BULK-COPY-NZ-AZ",
							"type": "Copy",
							"policy": {
								"timeout": "50.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "NetezzaSource",
									"query": {
										"value": "Select * from \"@{item().TABLE_NAME}\" \n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"writeBatchSize": 50000,
									"preCopyScript": {
										"value": "TRUNCATE TABLE  [ADMIN].\"@{item().TABLE_NAME}\"",
										"type": "Expression"
									},
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AZURE_PRD_BLOBSTORAGE",
										"type": "LinkedServiceReference"
									}
								},
								"parallelCopies": 32,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "SRC_NZ_TABLE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TRG_AZ_TABLE",
									"type": "DatasetReference",
									"parameters": {
										"AZ_TABLE": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "AZ-DW-LOAD"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}