pipeline/EXT-INCR-LOAD-DLY.json
{
	"name": "EXT-INCR-LOAD-DLY",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP-EXT-INCR",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT D.TABLE_NAME,D.LOAD_TYPE,D.STG_TABLE_NAME,D.SPROC_NAME,D.SRC_SQL,W.CDC_TS \nFROM [META].[META_DB_TBL] D JOIN [META].[META_WATERMARK_TBL] W \nON D.TABLE_KEY=W.TABLE_KEY AND JOB_NAME='LD_EXT' ",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "GET_AZ_EXT_TABLE_LIST",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOREACH-EXT-TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP-EXT-INCR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP-EXT-INCR').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "CHECK-EXT-LOAD-TYPE",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LOAD_TYPE,'T/L')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "COPY-EXT-INCR-IU",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Destination",
												"value": "@{Concat('ADMIN.',item().STG_TABLE_NAME)}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "NetezzaSource",
												"query": {
													"value": "@{item().SRC_SQL}>Translate('@{item().CDC_TS}','T',' ')",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"allowPolyBase": true,
												"writeBatchSize": 10000,
												"preCopyScript": {
													"value": "TRUNCATE TABLE  [STG].\"@{item().STG_TABLE_NAME}\"",
													"type": "Expression"
												},
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": false
												}
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "AZURE_PRD_BLOBSTORAGE",
													"type": "LinkedServiceReference"
												}
											},
											"parallelCopies": 32
										},
										"inputs": [
											{
												"referenceName": "SRC_EXT_IU",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "TRG_EXT_IU",
												"type": "DatasetReference",
												"parameters": {
													"STG_TABLE_NAME": "@concat('[STG].',item().STG_TABLE_NAME)"
												}
											}
										]
									},
									{
										"name": "SP-EXT-IU",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "COPY-EXT-INCR-IU",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "SPROC_NAME",
												"value": "[ADMIN].\"@{item().SPROC_NAME}\""
											}
										],
										"typeProperties": {
											"storedProcedureName": {
												"value": "[ADMIN].\"@{item().SPROC_NAME}\"",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "AZURE_PRD_DWHSE",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "COPY-SUCCESS-NOTIFICATION-IU",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "SP-EXT-IU",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-13.southcentralus.logic.azure.com:443/workflows/95fb9d00f9e74b90bd955ac75c6fb36d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2i_qy4baaiOuabnJ7PkuAAUDhoUR3GIvUaI6SFI2yz8",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"CopyDuration\":\n        \"@{activity('COPY-EXT-INCR-IU').output.copyduration}\",\n     \"RowsRead\": \n\t\"@{activity('COPY-EXT-INCR-IU').output.rowsRead}\",\n     \"RowsWritten\": \n\t\"@{activity('COPY-EXT-INCR-IU').output.rowsCopied}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\n    \"TargetTableName\":\n\t\"@{item().STG_TABLE_NAME}\",\n     \"StoredProcedureName\":\n   \t\"ADMIN.@{item().SPROC_NAME}\",\n      \"StoredProcedureExecutionDuration\":\n\t\"@{activity('SP-EXT-IU').output.executionDuration}\"\n\t}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SP-FAILURE-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "SP-EXT-IU",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"PipelineTriggerName\":\"@{pipeline().TriggerName}\",\"PipelineTriggerType\":\"@{pipeline().TriggerType}\",\"PipelineTriggerTime\":\"@{pipeline().TriggerTime}\",\"SourceTableName\":\"@{item().TABLE_NAME}\",\"SourceSQL\":\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\"TargetTableName\":\"@{item().TABLE_NAME}\",\"EmailTo\":\"@{pipeline().parameters.EmailTo}\"}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "COPY-FAILURE-NOTIFICATION-IU",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-EXT-INCR-IU",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"PipelineTriggerName\":\"@{pipeline().TriggerName}\",\"PipelineTriggerType\":\"@{pipeline().TriggerType}\",\"PipelineTriggerTime\":\"@{pipeline().TriggerTime}\",\"SourceTableName\":\"@{item().TABLE_NAME}\",\"SourceSQL\":\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\"TargetTableName\":\"@{item().TABLE_NAME}\",\"EmailTo\":\"@{pipeline().parameters.EmailTo}\"}",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "COPY-EXT-INCR-TL",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Destination",
												"value": "@{Concat('ADMIN.',item().TABLE_NAME)}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "NetezzaSource",
												"query": {
													"value": "@{item().SRC_SQL}",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"allowPolyBase": true,
												"writeBatchSize": 10000,
												"preCopyScript": {
													"value": "TRUNCATE TABLE  [ADMIN].\"@{item().TABLE_NAME}\"",
													"type": "Expression"
												},
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": false
												}
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "AZURE_PRD_BLOBSTORAGE",
													"type": "LinkedServiceReference"
												}
											},
											"parallelCopies": 32
										},
										"inputs": [
											{
												"referenceName": "SRC_EXT_TL",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "TRG_EXT_TL",
												"type": "DatasetReference",
												"parameters": {
													"TABLE_NAME": "@item().TABLE_NAME"
												}
											}
										]
									},
									{
										"name": "COPY-SUCCESS-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-EXT-INCR-TL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-13.southcentralus.logic.azure.com:443/workflows/95fb9d00f9e74b90bd955ac75c6fb36d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2i_qy4baaiOuabnJ7PkuAAUDhoUR3GIvUaI6SFI2yz8",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"CopyDuration\":\n        \"@{activity('COPY-EXT-INCR-TL').output.copyduration}\",\n     \"RowsRead\": \n\t\"@{activity('COPY-EXT-INCR-TL').output.rowsRead}\",\n     \"RowsWritten\": \n\t\"@{activity('COPY-EXT-INCR-TL').output.rowsCopied}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}\",\n    \"TargetTableName\":\n\t\"@{item().TABLE_NAME}\"\n\n\t}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "COPY-FAILURE-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-EXT-INCR-TL",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"DataFactoryName": "@{pipeline().DataFactory}",
												"PipelineName": "@{pipeline().Pipeline}",
												"PipelineTriggerName": "@{pipeline().TriggerName}",
												"PipelineTriggerType": "@{pipeline().TriggerType}",
												"PipelineTriggerTime": "@{pipeline().TriggerTime}",
												"SourceTableName": "@{item().TABLE_NAME}",
												"SourceSQL": "@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')",
												"TargetTableName": "@{item().TABLE_NAME}",
												"EmailTo": "@{pipeline().parameters.EmailTo}"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "List-AGU-Azure-IM-Data-Operations@nutrien.com"
			}
		},
		"folder": {
			"name": "AZ-DW-LOAD"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}