pipeline/PS-INCR-LOAD.json
{
	"name": "PS-INCR-LOAD",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP-PS-TABLE-LIST",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT M.TABLE_NAME,M.SPROC_NAME,M.STG_TABLE_NAME,M.SRC_SQL,W.CDC_TS,M.LOAD_TYPE FROM [dbo].[META_DB_TBL] M\nJOIN [dbo].[META_WATERMARK_TBL] W ON M.TABLE_KEY=W.TABLE_KEY WHERE M.JOB_NAME='PS_LD'",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "GET_AZODS_PS_TABLE_LIST",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOREACH-ARS-TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP-PS-TABLE-LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP-PS-TABLE-LIST').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CHECK-PS-LOAD-TYPE",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LOAD_TYPE,'T/L')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "COPY-PS-INCR-IU",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Destination",
												"value": "@{concat('STG.', item().STG_TABLE_NAME)}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "NetezzaSource",
												"query": {
													"value": "@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000,
												"preCopyScript": {
													"value": "TRUNCATE TABLE STG.@{item().STG_TABLE_NAME}",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"parallelCopies": 24
										},
										"inputs": [
											{
												"referenceName": "SRC_PS_TABLE_IU",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "TRG_PS_TABLE_IU",
												"type": "DatasetReference",
												"parameters": {
													"STG_TABLE_NAME": "STG.@{item().STG_TABLE_NAME}"
												}
											}
										]
									},
									{
										"name": "SP-PS-IU",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "COPY-PS-INCR-IU",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"storedProcedureName": {
												"value": "ADMIN.@{item().SPROC_NAME}",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "AZURE_PRD_AZODS",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "COPY-FAILURE-NOTIFICATION-IU",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-PS-INCR-IU",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\n    \"TargetTableName\":\n\t\"@{item().STG_TABLE_NAME}\",\n    \"StoredProcedureName\":\n   \t\"ADMIN.@{item().SPROC_NAME}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\"\n}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SPROC-FAILURE-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "SP-PS-IU",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\n    \"TargetTableName\":\n\t\"@{item().STG_TABLE_NAME}\",\n    \"StoredProcedureName\":\n   \t\"ADMIN.@{item().SPROC_NAME}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\"\n}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "COPY-SUCCESS-NOTIFICATION-IU",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "SP-PS-IU",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-13.southcentralus.logic.azure.com:443/workflows/95fb9d00f9e74b90bd955ac75c6fb36d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2i_qy4baaiOuabnJ7PkuAAUDhoUR3GIvUaI6SFI2yz8",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"CopyDuration\":\n        \"@{activity('COPY-PS-INCR-IU').output.copyduration}\",\n     \"RowsRead\": \n\t\"@{activity('COPY-PS-INCR-IU').output.rowsRead}\",\n     \"RowsWritten\": \n\t\"@{activity('COPY-PS-INCR-IU').output.rowsCopied}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\n    \"TargetTableName\":\n\t\"@{item().STG_TABLE_NAME}\",\n     \"StoredProcedureName\":\n   \t\"ADMIN.@{item().SPROC_NAME}\",\n      \"StoredProcedureExecutionDuration\":\n\t\"@{activity('SP-PS-IU').output.executionDuration}\"\n\t}",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "COPY-PS-INCR-TL",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Destination",
												"value": "@{concat('ADMIN.', item().TABLE_NAME)}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "NetezzaSource",
												"query": {
													"value": "@{item().SRC_SQL}",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000,
												"preCopyScript": {
													"value": "TRUNCATE TABLE ADMIN.@{item().TABLE_NAME}",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"parallelCopies": 24
										},
										"inputs": [
											{
												"referenceName": "SRC_PS_TABLE_TL",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "TRG_PS_TABLE_TL",
												"type": "DatasetReference",
												"parameters": {
													"TABLE_NAME": {
														"value": "ADMIN.@{item().TABLE_NAME}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "COPY-SUCCESS-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-PS-INCR-TL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-13.southcentralus.logic.azure.com:443/workflows/95fb9d00f9e74b90bd955ac75c6fb36d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2i_qy4baaiOuabnJ7PkuAAUDhoUR3GIvUaI6SFI2yz8",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n     \"PipelineTriggerName\":\n\t\"@{pipeline().TriggerName}\",\n    \"PipelineTriggerType\":\n\t\"@{pipeline().TriggerType}\",\n    \"PipelineTriggerTime\":\n\t\"@{pipeline().TriggerTime}\",\n    \"CopyDuration\":\n        \"@{activity('COPY-PS-INCR-TL').output.copyduration}\",\n     \"RowsRead\": \n\t\"@{activity('COPY-PS-INCR-TL').output.rowsRead}\",\n     \"RowsWritten\": \n\t\"@{activity('COPY-PS-INCR-TL').output.rowsCopied}\",\n    \"EmailTo\":\n        \"@{pipeline().parameters.EmailTo}\",\n    \"SourceTableName\":\n\t\"@{item().TABLE_NAME}\",\n    \"SourceSQL\":\n\t\"@{item().SRC_SQL}\",\n    \"TargetTableName\":\n\t\"@{item().TABLE_NAME}\"\n\n\t}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "COPY-FAILURE-NOTIFICATION",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "COPY-PS-INCR-TL",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"url": "https://prod-31.southcentralus.logic.azure.com:443/workflows/880b09407d734a0c8f6196ee7f0cd14d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=F2E6JSu1N4sZh8531vB291VxXdETWGHNsB2hSFDvmrs",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n\t\"DataFactoryName\":\n\t\t\"@{pipeline().DataFactory}\",\n\t\"PipelineName\":\n\t\t\"@{pipeline().Pipeline}\",\n\t\"PipelineTriggerName\":\n\t\t\"@{pipeline().TriggerName}\",\n\t\"PipelineTriggerType\":\n\t\t\"@{pipeline().TriggerType}\",\n\t\"PipelineTriggerTime\":\n\t\t\"@{pipeline().TriggerTime}\",\n\t\"SourceTableName\":\n\t\t\"@{item().TABLE_NAME}\",\n\t\"SourceSQL\":\n\t\t\"@{item().SRC_SQL}>=Translate('@{item().CDC_TS}','T',' ')\",\n\t\"TargetTableName\":\n\t\t\"@{item().TABLE_NAME}\",\n\t\"EmailTo\":\n\t\t\"@{pipeline().parameters.EmailTo}\"\n}",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "List-AGU-Azure-IM-Data-Operations@nutrien.com"
			}
		},
		"folder": {
			"name": "AZ-ODS-LOAD"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}